/*------------
    RESET
------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}


/* GENERAL */


body {
    font-family: 'Roboto', sans-serif;
}

/*------------
    LAYOUT
------------*/
header {
    background-color: #0084fd;
}
.row {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
    padding-bottom: 30px;
}

.container {
    max-width: 1170px;
    padding: 0 10px;
    margin: 0 auto;
}

.container-2 {
    max-width: 885px;
    padding: 0 10px;
    margin: 0 auto;
    min-height: 1000px;
}

.col20 {
    width: calc(100% / 5);
}

.col30 {
    width: 30%;
}

.col70 {
    width: 70%;
}

.col60 {
    width: 60%;
}

.col40 {
    width: 40%;
}

.col100 {
    width: 100%;
}

.col67 {
    width: 67%;
}

.col50 {
    width: 50%;
}

.content-col50 {
    padding-top: 100px;
    gap: 50px;
}

.col {
    padding: 0px 30px 0px 0px;
}

#intro .col {
    width: calc(100% / 3);
}

.invisible-card {
    padding: 20px;
}

.invisible-card h1 {
    padding-bottom: 35px;
    font-size: 30px;
}

.invisible-card p {
    font-size: 14px;
    line-height: 27px;
}

.invisible-card img {
    width: 100%;
    padding-bottom: 100px;
}

.white-card {
    margin-top: 100px;
    border-radius: 50px;
    padding:  15px 20px 15px 20px;
    width: 80%;
}

.deatils-w-card {
    display: flex;
    align-items: end;
}

.white-card img {
    display: flex;
    justify-content: center;
}

.white-card h1 {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}

.white-card p {
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
}
/*------------
    DEATILS
------------*/

.move-between {
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.nav-header {
    list-style-type: none;
}

.nav-header > li {
    display: inline-block;
    margin-right: 13px;
}

li > a{
    text-decoration: none;
    color: white;
}

.padding-col60 {
    padding-top: 20px;
}

.big-card {
    text-align: left;
    display: flex;
    padding: 30px 30px 0px 30px;
    border-radius: 20px;
}

.big-card img {
    display: flex;
    width: 100%;
}

.card {
    text-align: center;
    padding: 30px;
    border-radius: 20px;
}

.card > i{
    font-size: 90px;
    padding-bottom: 10px;
}

.card > h2 {
    padding-bottom: 10px;
}

.mrg-negative {
    margin-right: -15px;
}

.padding-col {
    padding-right: 15px;
}

.big-card {

}

.padding-bottom-row {
    padding-bottom: 40px;
}

.space-text {
    padding-top: 30px;
    padding-bottom: 30px;
}

.strategic-planning {
    background-color: #9792e4;
}
/*------------
    ELEMENT
------------*/
.btn-arrow {
    background-color: #9792e4;
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.align-btnarrow {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.btn-primary {
    padding: 6px 10px;
    border-radius: 20px;
}

.btn-apple {
    padding: 10px 40px;
    border-radius: 30px;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    letter-spacing: 3px;
    font-weight: 600;
}

.bg-lightblue {
    background-color: #b5ddff;
}

.txt-blue {
    color: #0084fd;
}

.txt-white {
    color: white;
}

.bg-blue {
    background-color: #0084fd;
}

.bg-white {
    background-color: white;
}

.text-center {
    text-align: center;
}

.text-center > i {
    font-size: 90px;
    color: #0084fd;
    padding-bottom: 25px;
}

.text-center > h3 {
    font-size: 25px; 
    padding-bottom: 10px;
}

.card > i {
    padding-bottom: 20px ;
}

.card > h2 {
    padding-bottom: 20px;
}

.padding-top {
    padding-top: 30px;
}

.bg-card {
    background-color: #b5ddff;
}


.text-content{

}

p {
    font-size: 14px;
}
.text-content-littlecard {
    font-size: 14px;
}

.text-content > h3{
    font-size: 25px;
}

li:last-child{
    display: none;
}
/*------------
    UTILITY
------------*/

.display-f {
    display: flex;;
}

.grow-space {
    flex-grow: 2;
}

.space-g {
    margin: 10px 10px 10px 10px;
}

.space-mrg-big {
    margin: 20px 10px 10px 10px;
}
/*------------
  RESPONSIVE
------------*/

@media screen and (max-width:992px) {
    .nav-header :not(:last-child) {
        display: none;
    }

    li:last-child {
        display: block;
        color: white;
    }

    .big-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .big-card h2 {
        font-size: 34px;
    }

    .big-card p {
        padding-left: 0px;
        font-size: 18px;
    }

    .big-card img {
        width: 35%;
        display: flex;
        
    }

    .card{
        height: 100%;
        padding: 30px;
    }

    .card i {
        font-size: 95px;
    }

    .card h2 {
        font-size: 30px;
    }

    .card p {
        font-size: 16px;
    }

    .intro-block {
        padding-left: 15px;
    }
}